
// ====================================================================
// Imports
// ====================================================================

@import "compass";
@import "susy";
@import "partials/variables";
@import "partials/normalize";
@import "partials/susySettings";

//font-family: 'Catamaran', sans-serif;
//font-family: 'Play', sans-serif;


// ======================================
// General settings
// ======================================
html{
	font-size: 100%;
}
body{
	font-size: 1rem;
	line-height: $line-height;
	font-family: 'Catamaran', serif;
	font-weight: 100;
}

h1, h2{
	font-family: 'Play', sans-serif;
	margin: 0;
}

// ======================================
// HEADER
// ======================================
header{
	border-bottom: 1px solid $gray;
	margin-bottom: 5%;
	display: flex;
	padding-bottom: .5rem;
	padding-top: .5rem;
	h1{
		margin-left: 1%;
		color: $darkGray;
	}
	.logo{
		margin-left: 1%;
	}
	#freeCodeSymbol{
		fill: $darkGray;
	}
}

// ======================================
// Card
// ======================================
.card{
	height: 18rem;
	padding-right: 20px;
	border-right: 1px solid $gray;
	position: relative;
}
//put bottom border with pseudo element
.card::after{
	content: " ";
  position: absolute;
  z-index: -1;
  //top: -10px;
  left: -20px;
  right: -20px;
  bottom:-14px;
  border-bottom: 1px solid $gray;
}

//remove right border from last card
.card:nth-child(2n){
	border-right: none;
}

// Main image
// ======================================
.artImage{
	@include span(5 of 12);
	height: 100%;
	overflow: hidden;
	//for centering the img position relative and oposite positions
	.divCenterImg{
		display: inline-block;
    position: relative;
    right: -50%;
	}
	img{
		max-height: 100%;
		width: auto;
		position: relative;
		margin: auto;
	}
}
.grayBg{
	background-color: $darkGray;
	display: flex;
	align-items: center;
	align-content: center;
}
.imgReplace{
	min-width: 80%;
	height: auto;
}
// Title of the Card
// ======================================
.headLine{
	height: 5rem;
	overflow: hidden;
	h2{
		margin: 0;
		color: $black;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	margin-bottom: 3%;

}
// Text of card
// ======================================
.description{
	height: $line-height * 6rem;
	overflow: hidden;
	color: $darkGray;
	padding-right: 2%;
}
// footer of card
// ======================================
.footCard{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	height: 3rem;
	font-size: .7rem;
	color:$darkGray;
	margin-right: 3%;
	border-top: 1px solid $gray;
	padding-top: 1%;
	margin-top: 1%;
	.author{
		@include span(3);
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.authorPic{
		width: 50%;
		max-width: 50%;
		min-width: 50%;
		height: auto;
		border-radius: 50%;
		margin-right: 7%;
	}

	//---votes
	.votes{
		font-size: 1.2rem;
		display: flex;
	}
	.heart{
		padding-right: 10%;
	}
}
