
// ====================================================================
// Imports
// ====================================================================

@import "compass";
@import "susy";
@import "partials/variables";
@import "partials/normalize";
@import "partials/susySettings";

//font-family: 'Catamaran', sans-serif;
//font-family: 'Play', sans-serif;


// ======================================
// General settings
// ======================================
html{
	font-size: 100%;
}
body{
	font-size: 1rem;
	font-family: 'Catamaran', serif;
	font-weight: 100;
}
h1{
	font-family: 'Play', sans-serif;
}
h2{
	font-family: 'Play', sans-serif;
	margin: 0;
}

// ======================================
// all the news
// ======================================


// ======================================
// Card
// ======================================
.card{
	height: 18rem;
	border: 1px solid black;
}

// Main image
// ======================================
.artImage{
	@include span(5 of 12);
	height: 100%;
	overflow: hidden;
	//for centering the img position relative and oposite positions
	.divCenterImg{
		display: inline-block;
    position: relative;
    right: -50%;
	}
	img{
		max-height: 100%;
		width: auto;
		position: relative;
    left: -50%;
		margin: auto;
	}
}
// Title of the Card
// ======================================
.headLine{
	height: 6rem;
	h2{
		margin: 0;
	}
}
// Text of card
// ======================================
.description{
	height: 9rem;
}
// footer of card
// ======================================
.footCard{
	display: flex;
	height: 3rem;
	.authorPic{
		width: 10%;
		height: auto;
	}
}
