$gray: #DEDBDB;
$darkGray: #333333;
$lightGray: #A2A2A2;
$black: #000;
$line-height: 1.4;

/*
http://diegoluis.net/imageRep/camperNews/freeCodeSymbol.svg
http://diegoluis.net/imageRep/camperNews/heart.svg
*/
